.main {
  max-width: 992px;
  margin: auto;
  margin-top: 5rem;
  padding: 0px 8px;
  box-sizing: border-box;
}

.content {
  margin: 2rem 0rem;
}
.card {
  max-width: 345;
}
.title {
  text-align: center;
}
.media {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.socialItem:hover {
  color: #f3ca20;
}
