.main {
  max-width: 992px;
  margin: auto;
  margin-top: 5rem;
}

.content {
  margin: 2rem 0rem;
}
.card {
  max-width: 345;
}
.title {
  text-align: center;
}
.media {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
